
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
      background: url('nentong.jpg');
      background-size: cover;
}
ul{
    list-style: none;
}
.header {
    background-color: #333;
    color: black;
    padding: 50px;
    text-align: center;
    background-image: url('nentong.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu {
    font-weight: bolder;
    overflow: hidden;
}
.menu ul {
    align-items: center;
    background-color: #eee;
    text-align: center;
}
.menu li {
    display: inline-block;
    margin: 0 10px;
}
.menu a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.menu a:hover {
    transform: scale(1.2);
    background-color: red;
    color: yellow;
}
.login a {
    color: white;
    background-color: rgb(245, 136, 27);
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    float: right;
    right: 10px;
    top: 10px;
    text-decoration: none;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: aqua;
}

.container h1 {
    text-align: center;
    color: white;
    background-color: #333;
}
.dichvu{
    border: 1px solid black;
    margin-bottom: 20px;
    background-color: white;
}

.dichvu p {
    margin-bottom: 10px;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: orange;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.footer {
    bottom: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}
i{
    color: white;
    font-size: 20px;
    margin-right: 5px;
}
@media (max-width: 768px) {
  .tour {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .tour {
    width: 100%;
  }
}